<!doctype html>
<html>
    <head>
        <title>No Name Card Game</title>
        <link href="/assets/css/fonts-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="page-wrapper">
            <div class="page-content">
                <div class="container {{boardDisplay}}" id="gameInfo">
                    <div class="row" id="playerBoards">
                        {{#each players}}
                        <div class="col-md-3">
                            <div class="portlet box green-meadow">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i id="stats_{{id}}" class="fa">{{name}} Level:{{level}} Combat Power:{{combatPower}} <br/> Race:{{race}} Class:{{role}} Cards on Hand:{{cardsOnHand}}</i> </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-hover">
                                            {{#if isMain}}
                                            <thead id="hand_{{id}}">
                                                <tr>
                                                    <th> Hand Cards </th>
                                                </tr>
                                                {{#if isMain}}
                                                    {{#each hand}}
                                                <tr>
                                                    <td id="{{id}}"> {{name}}
                                                        <a class="btn btn-outline btn-circle purple-plum btn-sm blue" style="float:right"> Use </a>
                                                    </td>
                                                </tr>
                                                    {{/each}}
                                                {{/if}}
                                            </thead>
                                            {{/if}}
                                            <thead id="board_{{id}}">
                                                <tr>
                                                    <th> Board Cards </th>
                                                </tr>
                                                {{#if isMain}}
                                                    {{#each board}}
                                                <tr> 
                                                    <td id={{id}}> {{name}} </td>
                                                </tr>
                                                    {{/each}}
                                                {{/if}}
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                {{#if isMain}}
                                <a type="button" class="btn purple-plum {{isPickDungeonEnable}}" id="pickDungeon">Pick a dungeon</a>
                                <br/>
                                <a type="button" class="btn purple-plum {{isRunEnable}}" id="monsterRun">Run</a>
                                <a type="button" class="btn purple-plum {{isUseItemEnable}}" id="monsterUseItem">Use item</a>
                                <a type="button" class="btn purple-plum {{isHelpEnable}}" id="modalMonsterAskHelp" data-toggle="modal" href="#helpModal">Ask for help</a>
                                {{/if}}
                            </div>
                        </div>
                        {{/each}}    
                    </div>
                </div>
                {{#if renderStartButton}}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn green" id="startRoom">Start match</button>
                        </div>
                        {{#if notInGame}}
                        <div class="col-md-6">
                            <button type="button" class="btn green" id="joinRoom">Join room</button>
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{else}}
                    {{#if notInGame}}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn green" id="joinRoom">Join room</button>
                        </div>
                    </div>
                </div>
                    {{/if}}
                {{/if}}
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul id="messages"></ul>
                            <form action="">
                                <input id="m" autocomplete="off" /><button>Send</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal for questions -->
                <div id="questionModal" class="modal fade bs-modal-sm" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="questionModalTitle"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p id="questionModalBody"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline" id="questionRefuse">Refuse</button>
                                <button type="button" data-dismiss="modal" class="btn green" id="questionAccept">Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal for informations -->
                <div id="informativeModal" class="modal fade bs-modal-sm" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="informativeModalTitle"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p id="informativeModalBody"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn green">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to ask for help -->
                <div id="helpModal" class="modal fade bs-modal-sm" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Select who you wanna ask for help</h4>
                            </div>
                            <div class="modal-body">
                                <div class="scroller" style="height:100px" data-always-visible="1" data-rail-visible1="1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Player</h4>
                                            <select class="form-control" id="helperName">
                                                {{#each players}}
                                                    {{#unless isMain}}
                                                <option value="{{id}}">{{name}}</option>
                                                    {{/unless}}
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Treasures</h4>
                                            <p>
                                                <input type="text" id="helperTreasureOffer" class="col-md-12 form-control"> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                                <button type="button" data-dismiss="modal" class="btn green" id="monsterAskHelp">Ask for help</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script>
            const TURN_PHASES = {
                DRAW_FIRST_DUNGEON: 0,
                DRAW_SECOND_DUNGEON: 1,
                FIGHT_MONSTER: 2,
                FIGHT_MONSTER_LOOSING: 3,
                FIGHT_MONSTER_WINNING: 4,
                FIGHT_MONSTER_ASK_HELP: 5,
                FIGHT_MONSTER_HELP_ANSWER: 6,
                FIGHT_MONSTER_INTERFERE: 7
            };
            $(document).ready(function(){
                var socket = io('/' + '{{namespace}}');
                $('form').submit(function(){
                    socket.emit('chatMessage', $('#m').val());
                    $('#m').val('');
                    return false;
                });
                $('#joinRoom').click(function(){
                    $.ajax({
                        type: "GET",
                        url: $(location).attr("href") + '/join',
                        contentType: "application/json; charset=utf-8",
                        beforeSend: function(){
                            $('#joinRoom').hide();
                        },
                        success: function(jsonData) {
                            $('#gameInfo').removeClass('hidden');
                            window.location = $(location).attr('href');
                        },
                        error: function(errorData) {
                            showInfoModal(errorData.responseJSON.title, errorData.responseJSON.body);
                            $('#joinRoom').show();
                        }
                    });
                });
                $('#startRoom').click(function(){
                    $.ajax({
                        type: "GET",
                        url: $(location).attr("href") + '/start',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function(){
                            $('#startRoom').hide();
                        },
                        error: function(errorData) {
                            showInfoModal(errorData.responseJSON.title, errorData.responseJSON.body);
                            $('#startRoom').show();
                        }
                    });
                });
                $('#pickDungeon').click(function(){
                    if(!$(this).hasClass('disabled')){
                        $.ajax({
                            type: "GET",
                            url: $(location).attr("href") + '/dungeon/pick',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            beforeSend: function(){
                                $('#pickDungeon').addClass('disabled');
                            },
                            success: function(jsonData) {
                            },
                            error: function(errorData) {
                                showInfoModal(errorData.responseJSON.title, errorData.responseJSON.body);
                                $('#pickDungeon').removeClass('disabled');
                            }
                        });
                    }
                });
                 $('#monsterRun').click(function(){
                    if(!$(this).hasClass('disabled')){
                        $.ajax({
                            type: "GET",
                            url: $(location).attr("href") + '/fight/run',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            beforeSend: function(){
                                $('#monsterRun').addClass('disabled');
                            },
                            success: function(jsonData) {
                            },
                            error: function(errorData) {
                                showInfoModal(errorData.responseJSON.title, errorData.responseJSON.body);
                                $('#monsterRun').removeClass('disabled');
                            }
                        });
                    }
                });
                $('#monsterAskHelp').click(function(){
                    if(!$(this).hasClass('disabled')){
                        var helperInfo = {
                            helperId: $('#helperName option:selected').val(),
                            treasureAmount: $('#helperTreasureOffer').val()
                        };
                        $.ajax({
                            type: "POST",
                            url: $(location).attr("href") + '/fight/ask_help',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(helperInfo),
                            dataType: "json",
                            beforeSend: function(){
                                $('#monsterRun').addClass('disabled');
                                $('#monsterUseItem').addClass('disabled');
                                $('#modalMonsterAskHelp').addClass('disabled');
                            },
                            success: function(jsonData) {
                            },
                            error: function(errorData) {
                                showInfoModal(errorData.responseJSON.title, errorData.responseJSON.body);
                                $('#monsterRun').removeClass('disabled');
                                $('#monsterUseItem').removeClass('disabled');
                                $('#modalMonsterAskHelp').removeClass('disabled');
                            }
                        });
                    }
                });
                $('#questionAccept').click(function(){
                    $.ajax({
                        type: "GET",
                        url: $(location).attr("href") +  $('#questionAccept').attr('name'),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function(){
                            $('#monsterRun').addClass('disabled');
                            $('#monsterUseItem').addClass('disabled');
                            $('#modalMonsterAskHelp').addClass('disabled');
                        },
                        success: function(jsonData) {
                        },
                        error: function(errorData) {
                            showInfoModal(errorData.responseJSON.title, errorData.responseJSON.body);
                            $('#questionModal').modal('show');
                        }
                    });
                });
                $('#questionRefuse').click(function(){
                    $.ajax({
                        type: "GET",
                        url: $(location).attr("href") +  $('#questionRefuse').attr('name'),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function(){
                        },
                        success: function(jsonData) {
                        },
                        error: function(errorData) {
                            showInfoModal(errorData.responseJSON.title, errorData.responseJSON.body);
                            $('#questionModal').modal('show');
                        }
                    });
                });
                socket.on('chatMessage', function(msg){
                    $('#messages').prepend($('<li>').text(msg));
                });
                //  TODO: Send less info on this socket since we are sending most of infos on gameInfo socket
                socket.on('playerInfo', function(playerInfoJSON){
                    var playerInfo = JSON.parse(playerInfoJSON);
                    updatePlayerInfo(playerInfo, isThisPlayer(playerInfo.id));
                });
                socket.on('gameInfo', function(gameInfoJSON){
                    var gameInfo = JSON.parse(gameInfoJSON);
                    var isThisMainPlayer = isThisPlayer(gameInfo.turnInfo.playerId);
                    var isThisHelperPlayer = isThisPlayer(gameInfo.turnInfo.helperId);
                    togglePickDungeon(isThisMainPlayer, gameInfo.turnInfo.phase);
                    toggleRun(isThisMainPlayer, gameInfo.turnInfo.phase);
                    toggleUseItem(isThisMainPlayer, isThisHelperPlayer, gameInfo.turnInfo.phase);
                    toggleAskHelp(isThisMainPlayer, gameInfo.turnInfo.phase, gameInfo.turnInfo.helperId);
                    gameInfo.players.forEach(function(player) {
                        if (!isThisPlayer(player.id)){
                            updatePlayerInfo(player, false);
                        }
                    });
                });
                socket.on('askInfo', function(askInfoJSON){
                    var askInfo = JSON.parse(askInfoJSON);
                    //  Check if it is an ask for help
                    $('#questionModalTitle').html(askInfo.title);
                    $('#questionModalBody').html(askInfo.body);
                    $('#questionAccept').attr('name', askInfo.acceptSuffix);
                    $('#questionRefuse').attr('name', askInfo.refuseSuffix);
                    $('#questionModal').modal('show');
                });
                socket.on('newInfo', function(newInfo){
                    showInfoModal(newInfo.title, newInfo.body);
                });
                socket.on('newPlayer', function(playerInfo){
                    $('#playerBoards').append('<div class="col-md-3"><div class="portlet box green-meadow"><div class="portlet-title"><div class="caption"><i id="stats_' + playerInfo.id + '" class="fa">' + '</div></div><div class="portlet-body"><div class="table-scrollable"><table class="table table-striped table-hover"><thead id="board_'+ playerInfo.id +'"><tr><th> Board Cards </th></tr></thead></table></div></div></div></div>');
                    $('#helperName').append('<option value="' + playerInfo.id + '">' + playerInfo.name + '</option>');
                    updatePlayerInfo(playerInfo, false);
                });
                function showInfoModal(title, body){
                    $('#informativeModalTitle').html(title);
                    $('#informativeModalBody').html(body);
                    $('#informativeModal').modal('show');
                }
                function updatePlayerInfo(playerInfo, isMainPlayer){
                    var playerInfoClean = playerInfo.id.replace(/([ #;?%&,.+*~\':"!^$[\]()=>|\/@])/g,'\\$1');
                    $('#stats_' + playerInfoClean).html(playerInfo.name + ' Level:' + playerInfo.level + ' Combat Power:' + playerInfo.combatPower
                        + '<br/>Race:' + playerInfo.race + ' Class:' + playerInfo.role + ' Cards on hand: ' + playerInfo.cardsOnHand);
                    if (isMainPlayer){
                        var cards = '';
                        for (var i = 0; i < playerInfo.hand.length; i++){
                            cards += '<tr id="' + playerInfo.hand[i]._id + '"><td> ' + playerInfo.hand[i].name +  ' <a class="btn btn-outline btn-circle purple-plum btn-sm blue" style="float:right"> Use </a></td><tr>';
                        }
                        $('#hand_' + playerInfoClean).html('<tr><th> Hand Cards </th></tr>' + cards);
                    }
                }
                function isThisPlayer(playerId){
                    if (playerId){
                        if ($('#hand_' + playerId.replace(/([ #;?%&,.+*~\':"!^$[\]()=>|\/@])/g,'\\$1')).length) return true;
                    }
                    return false;
                }
                function togglePickDungeon(isPlayerTurn, turnPhase){
                    if (isPlayerTurn && (turnPhase == TURN_PHASES.DRAW_FIRST_DUNGEON || turnPhase == TURN_PHASES.DRAW_SECOND_DUNGEON)) {
                        $('#pickDungeon').removeClass('disabled');
                    } else {
                        $('#pickDungeon').addClass('disabled');
                    }
                }
                function toggleRun(isPlayerTurn, turnPhase){
                    if (isPlayerTurn && turnPhase == TURN_PHASES.FIGHT_MONSTER_LOOSING) {
                        $('#monsterRun').removeClass('disabled');
                    } else {
                        $('#monsterRun').addClass('disabled');
                    }
                }
                function toggleUseItem(isPlayerTurn, isHelperTurn, turnPhase){
                    if ((isPlayerTurn || isHelperTurn) && turnPhase == TURN_PHASES.FIGHT_MONSTER_LOOSING) {
                        $('#monsterUseItem').removeClass('disabled');
                    } else {
                        $('#monsterUseItem').addClass('disabled');
                    }
                }
                function toggleAskHelp(isPlayerTurn, turnPhase, isHelperPresent){
                    if (isPlayerTurn && turnPhase == TURN_PHASES.FIGHT_MONSTER_LOOSING && !isHelperPresent) {
                        $('#modalMonsterAskHelp').removeClass('disabled');
                    } else {
                        $('#modalMonsterAskHelp').addClass('disabled');
                    }
                }
            });
        </script>
    </body>
</html>