<!doctype html>
<html>
    <head>
        <title>No Name Card Game</title>
        <link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {{#if user}}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Webhook {{name}}</h1>
                    <form action="">
                        <input type="text" id="roomName" autocomplete="off" />
                        <button class="btn green">Create Game</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <h2 id="roomId"></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a type="button" class="btn green" style="display:none;" id="joinRoom">Entrar na partida</a>
                    <button type="button" class="btn green" style="display:none;" id="copyLink" data-clipboard-action="copy" data-clipboard-text="xxxxxxxxx">Copy link to share</button>
                </div>
            </div>
        </div>
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
        <script src="/assets/js/clipboard.min.js"></script>
        <script>
            $(document).ready(function(){
                new Clipboard('.btn');
                $('form').submit(function(){
                    /* stop form from submitting normally */
                    event.preventDefault();

                    var roomInfo = {
                        name: $('#roomName').val()
                    };
                    $.ajax({
                        type: "POST",
                        url: 'game/create',
                        data: JSON.stringify(roomInfo),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function(){
                            $('form').hide();
                        },
                        success: function(data) {
                            $('#roomId').append("Room created, the room link is: " + $(location).attr("href") + 'game/' + data.msg.id);
                            $('#joinRoom').attr('href', $(location).attr("href") + 'game/' + data.msg.id);
                            $('#copyLink').attr('data-clipboard-text', $(location).attr("href") + 'game/' + data.msg.id);
                            $('#joinRoom').show();
                            $('#copyLink').show();
                            //alert('Oi');
                        },
                        error: function(data) {
                            //alert(data);
                        }
                    });
                });
            });
        </script>
        {{else}}
        <form action="">
            <input id="playerName" autocomplete="off" /><button>Cadastrar</button>
        </form>
        <script src="/assets/js/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $('form').submit(function(){
                    /* stop form from submitting normally */
                    event.preventDefault();

                    var userInfo = {
                        name: $('#playerName').val()
                    };
                    $.ajax({
                        type: "POST",
                        url: 'login',
                        data: JSON.stringify(userInfo),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function(){
                            $('form').hide();
                        },
                        success: function(data) {
                            window.location = data.redirectUrl;
                            //alert('Oi');
                        },
                        error: function(data) {
                            //alert(data);
                        }
                    });
                });
            });
        </script>
        {{/if}}
    </body>
</html>